@charset "UTF-8";
header {
  background-color: rgba(36, 183, 203, 0.91);
  color: white;
  position: relative;
  display: block;
  /*height: 200px;*/
}

header img {
  width: 100%;
}

footer {
  background-color: #009;
  font-size: 48px;
  padding-top: 0.5em;
  text-align: center;
}

nav {
  background-color: rgba(36, 183, 203, 0.91);
  height: 20px;
  padding-top: 0.5em;
}

nav ul {
  width: 60;
  margin: auto;
}

nav li {
  float: left;
  text-align: center;
  width: 25%;
}

nav a {
  background-color: rgba(36, 183, 203, 0.91);
  color: black;
  display: block;
  height: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: yellow;
  display: block;
}

/*text formatting*/

body {
  color: black;
}

header h1 {
  color: White;
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  text-outline: 6px 6px brown;
  text-shadow: 4px 4px 6px hsl(266, 53%, 68%);
}

h2 {
  padding: 5%;
  color: black;
  text-align: center;
  font-size: 1.25em;
  text-transform: capitalize;
}

p {
  padding: 0.5em;
  color: black;
}

footer {
  clear: both;
  background-color: rgba(36, 183, 203, 0.91);
}

.clearfix {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

img {
  width: 100%;
}

img#recipe {
  width: 50%;
  float: left;
  padding: 40px;
}

img#safety {
  width: 50%;
  float: left;
  padding: 40px;
}

section {
  padding: 5px;
  list-style-position: inside;
  list-style-type: square;
  margin: 1px;
}

section#index {
  height: 20px;
  padding-top: 0.5em;
  display: block;
}

section#index ol {
  width: 60;
  margin: auto;
}

section#index li {
  float: right;
  text-align: width:15%;
  padding: 0.5em;
}

section#index a {
  background-color: rgb(138, 172, 34);
  color: black;
  display: block;
  height: 20px;
  text-decoration: none;
  align-items: center;
}

section#index a:hover {
  background-color: yellow;
  display: block;
}

iframe {
  width: inherit;
  height: auto;
  float: left;
}

/*Don't use a lot of margins*/
